@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: #111111;
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--foreground);
  --color-muted: var(--card);
  --color-muted-foreground: var(--muted-foreground);
  --radius-md: 0.5rem;
  --radius-lg: 0.5rem;
  --radius-sm: 0.5rem;
}

@layer base {
  :root {
    --background: #0a0a0a;
    --foreground: #eeeeee;
    --card: #191919;
    --primary: #feda6a;
    --secondary: #393028;
    --muted-foreground: #b4b4b4;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: rgba(255, 255, 255, 0.1);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}